body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left {
    background-image: url(vasanth-SvLiRk1wE2s-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.heading {
    display: flex;
    flex-direction: row;
    background-color: rgb(128, 128, 128, 0.9);
}
span {
    color: green;
}